// bower:scss
// endbower
//GAME CSS
.clear{
  clear: both;
}
body {
  background-color: #56ACE5;
}

nav {
  margin: 15px auto;
  width: 300px;
  padding-left: 20px;
}

nav ul li a {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

// nav ul {
//   padding-left: 10px;
// }

.logo, .logo h2{
  text-align: center;
  width: 400px;
  margin: 15px auto;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 36px;
}

main {
  margin: 0 auto;
  width: 800px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

main section {
  margin: 85px 0;
}
main h1{
  font-size: 60px;
  font-weight: lighter;
  color: white;
}

.game-container{
  background-color: #66BCF5;
  border: 1px solid white;
  width: 960px;
  height: 300px;
  margin: 115px auto;
  border-radius: 3px;
  text-align: center;
  font-family: dhyana, sans-serif;
}

.playing{
  padding-top: 20px;
}

.question{
  margin-top: 20px;
}

.answers {
  width: 900px;
  margin: 0px auto 0px auto;
}

.answers-wrapper {
  margin: auto;
  width: 660px;
}

.btn-answers {
  color: black;
  background-color: #FCE331;
  width: 200px;
  height: 85px;
  float: left;
  margin: 35px 10px 47px 10px;
  font-size: 22px;
}

.btn:hover {
  background-color: #F5D806;
  color: black;
}

.highscore-form {
  margin: 85px 0;
}
.highscore-form form{
  width: 500px;
  margin: 0 auto;
}

.highscore-form form .btn {
  background-color: #F5D806;
  color: black;
}

.highscore-form form .btn:hover {
  background-color: #5fd405;
  border-color: #5fd405;
  color: black;
}
.highscore {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.highscore h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: lighter;
  color: white;
}

.highscore table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: lighter;
  color: white;
  margin: 0 auto;
  margin-top: 55px;
  text-align: left;
}

.highscore table  td{
  padding: 5px 10px;
}
