<section ng-show='playing'>
  <h1> Welcome to the Game you are on round {{ round }}</h1>
  <article class='question'>
    <h1>{{ question.en }}</h1>
    <h3>{{ question.def }}</h3>
  </article>

  <article class='answers' ng-repeat='answer in answers'>
    <div ng-click='submitAnswer(question, answer)'>{{ answer.es }}</div>
  </article>
</section>

<section ng-show='!playing'>
  <h1> {{message}}</h1>
  <p>You got {{score}} points</p>
  <form ng-submit="submitScore()">
    <input type='text' ng-model='name' required>
    <input type='submit' value='Submit'>
  </form>
</section>