<section class='game-container'>

  <section ng-show='playing' class="playing">
    <article class='question'>
      <h1>{{ question.en }}</h1>
      <h3>{{ question.def }}</h3>
    </article>

    <article class='answers'>
      <div class='answers-wrapper'>
        <button
                ng-click='submitAnswer(question, answer)'
                ng-repeat='answer in answers'
                type="button"
                class="btn btn-answers">
          {{ answer.es }}
        </button>
        <div class='clear'>
      </div>
    </article>

  </section>

  <section
          ng-show='!playing'
          ng-controller='Highscores'
          class='highscore-form'>
    <h1> {{message}}</h1>
    <p>You got {{score}} points</p>

    <form class="input-group input-group-lg" ng-submit="submitScore()">
      <input class="form-control" type='text' ng-model='name' required>
      <span class="input-group-btn">
        <button class="btn btn-default" type='submit' value='Submit'>Go!</button>
      </span>
      <!-- <input type='submit' value='Submit'> -->
    </form>

  </section>

</section>